@import "../variables.scss";


//SIT ON CHAIR SECOND

.sitOnChairSecond {
  padding-top: 30px;
  height: 315px;
  .img1 {
    float: left;
    position: relative;
  }
  .img2 {
    @extend .img1;
    margin-left: 30px;
  }
}

.background {
  width: 329px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  margin-top: -80px;
  display: block;
  & > p {
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    border-bottom: 7px solid $main-color;
    width: 140px;
    font-size: 15px;
  }
}

.sitOnChairSecond {
  .text{
    float: right;
    border: 1px solid lightgray;
    width:340px;
    &>p {
      width: 310px;
      text-align: justify;
      padding-left: 20px;
      color:grey;
      font-size: 14px;
      line-height: 20px;
    }
    &>h2 {
      margin: 12px 15px;
      border-bottom: 7px solid $main-color;
      width: 140px;
      font-size: 16px;
    }
  }
}

//SIT ON CHAIR THIRD
