header {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white; }
  header .title {
    float: left;
    text-transform: uppercase;
    padding: 12px 0;
    font-size: 13px;
    letter-spacing: 1px; }
    header .title span {
      color: #25c9b0; }

.mainNav {
  float: right;
  margin-right: -8px;
  padding-top: 3px;
  font-size: 13px;
  letter-spacing: 1px; }
  .mainNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; }
  .mainNav a {
    text-decoration: none;
    line-height: 30px; }

.firstList > li {
  float: left;
  position: relative;
  text-transform: uppercase;
  padding: 4px 15px;
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-left: 10px; }
  .firstList > li ul {
    display: none;
    position: absolute;
    text-transform: none;
    padding: 5px 18px;
    width: 120px;
    margin-top: 20px;
    margin-left: -20px;
    font-size: 13px; }
  .firstList > li:hover ul {
    display: block;
    background-color: black;
    cursor: pointer; }

ul:hover .beforeTriangle {
  display: block;
  background-color: transparent;
  height: 15px;
  width: 120px;
  z-index: initial;
  margin-top: -20px;
  margin-left: -20px; }

ul:hover .triangle {
  display: block;
  border-bottom: 20px solid black;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  margin-left: 20px;
  position: absolute;
  padding-top: 3px; }
