.sitOnChairThird .deliverBackground, .sitOnChairThird .servisBackground {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairThird .deliverBackground1, .sitOnChairThird .servisBackground1 {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

header {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white; }
  header .title {
    float: left;
    text-transform: uppercase;
    padding: 12px 0;
    font-size: 13px;
    letter-spacing: 1px; }
    header .title span {
      color: #25c9b0; }

.mainNav {
  float: right;
  margin-right: -8px;
  padding-top: 3px;
  font-size: 13px;
  letter-spacing: 1px; }
  .mainNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; }
  .mainNav a {
    text-decoration: none;
    line-height: 30px; }

.firstList > li {
  float: left;
  position: relative;
  text-transform: uppercase;
  padding: 4px 15px;
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-left: 10px; }
  .firstList > li ul {
    display: none;
    position: absolute;
    text-transform: none;
    padding: 5px 18px;
    width: 120px;
    margin-top: 20px;
    margin-left: -20px;
    font-size: 13px; }
  .firstList > li:hover ul {
    display: block;
    background-color: black;
    cursor: pointer; }

ul:hover .beforeTriangle {
  display: block;
  background-color: transparent;
  height: 15px;
  width: 120px;
  z-index: initial;
  margin-top: -20px;
  margin-left: -20px; }

ul:hover .triangle {
  display: block;
  border-bottom: 20px solid black;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  margin-left: 20px;
  position: absolute;
  padding-top: 3px; }

.sitOnChairThird .deliverBackground, .sitOnChairThird .servisBackground {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairThird .deliverBackground1, .sitOnChairThird .servisBackground1 {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairFirst {
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%); }

.mainNav2 .thirdList {
  float: left;
  margin: 0;
  width: 470px;
  height: 500px; }

.slider li {
  display: none; }

.slider .visible {
  display: inline-block; }

.mainNav2 img.blackChair {
  width: 130%;
  margin-left: -10px;
  margin-top: 100px; }

.mainNav2 img.orangeChair {
  width: 110%;
  margin-left: -40px;
  margin-top: 100px; }

.mainNav2 img.redChair {
  width: 150%;
  margin-top: 100px; }

.describe {
  float: left;
  height: 500px;
  padding-top: 100px; }
  .describe h1 {
    font-size: 39px;
    text-transform: uppercase;
    padding-left: 17px;
    margin-top: 35px;
    font-weight: normal; }
  .describe p {
    text-align: -webkit-center;
    width: 450px;
    line-height: 20px;
    margin-left: -25px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: -3px; }
  .describe span {
    color: #25c9b0;
    font-weight: bold; }
  .describe button {
    width: 265px;
    height: 55px;
    background-color: #25c9b0;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 15px;
    border: none; }
    .describe button > a {
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: normal; }

.sliderLeft, .sliderRight {
  float: left;
  font-size: 70px;
  color: #25c9b0;
  margin-top: 215px;
  cursor: pointer;
  font-weight: lighter; }

.sliderRight {
  float: right; }

.sitOnChairThird .deliverBackground, .sitOnChairThird .servisBackground {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairThird .deliverBackground1, .sitOnChairThird .servisBackground1 {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairSecond {
  padding-top: 30px;
  height: 315px; }
  .sitOnChairSecond .img1, .sitOnChairSecond .img2 {
    float: left;
    position: relative; }
  .sitOnChairSecond .img2 {
    margin-left: 30px; }

.background {
  width: 329px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  margin-top: -80px;
  display: block; }
  .background > p {
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    border-bottom: 7px solid #25c9b0;
    width: 140px;
    font-size: 15px; }

.sitOnChairSecond .text {
  float: right;
  border: 1px solid lightgray;
  width: 340px; }
  .sitOnChairSecond .text > p {
    width: 310px;
    text-align: justify;
    padding-left: 20px;
    color: grey;
    font-size: 14px;
    line-height: 20px; }
  .sitOnChairSecond .text > h2 {
    margin: 12px 15px;
    border-bottom: 7px solid #25c9b0;
    width: 140px;
    font-size: 16px; }

.sitOnChairThird {
  background-color: #e6e6e6;
  width: 100%;
  height: 725px;
  padding-top: 5px; }
  .sitOnChairThird h3 {
    text-transform: uppercase;
    border-bottom: 7px solid #25c9b0;
    line-height: 35px;
    width: 315px;
    margin-top: 45px;
    color: #575757;
    font-size: 22px; }

.sitOnChairThird .basicPlan {
  width: 330px;
  height: 500px;
  border: 2px solid lightgray;
  float: left;
  margin-right: 30px;
  margin-left: -5px;
  position: relative;
  margin-top: 55px;
  background-color: #f2f2f2; }

.sitOnChairThird .deliverBackground {
  background-color: lightgray;
  margin-top: 165px; }

.sitOnChairThird .servisBackground {
  background-color: #e6e6e6;
  margin-top: 210px; }

.sitOnChairThird .standardPlan {
  width: 330px;
  height: 500px;
  border: 2px solid #25c9b0;
  float: left;
  position: relative;
  margin-top: 55px;
  background-color: #25c9b0; }

.sitOnChairThird .deliverBackground1 {
  background-color: white;
  margin-top: 165px; }

.sitOnChairThird .servisBackground1 {
  background-color: #e6e6e6;
  margin-top: 210px; }

.sitOnChairThird .guaranteeBackground {
  position: absolute;
  width: 326px;
  height: 45px;
  background-color: lightgray;
  margin-top: 255px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairThird .advancePlan {
  width: 330px;
  height: 500px;
  border: 2px solid lightgray;
  float: right;
  position: relative;
  margin-top: 55px;
  margin-right: 10px;
  background-color: #f2f2f2; }

.sitOnChairThird .guaranteeBackground1 {
  position: absolute;
  width: 326px;
  height: 45px;
  background-color: white;
  margin-top: 255px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairThird .adviceBackground {
  position: absolute;
  width: 326px;
  height: 45px;
  background-color: #e6e6e6;
  margin-top: 300px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairThird .circle {
  border-radius: 50%;
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: white;
  margin-top: -45px;
  margin-left: 135px; }

.sitOnChairThird .smallCircle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  margin-top: 13px;
  margin-left: 13px; }

.sitOnChairThird .bigCircle {
  border-radius: 50%;
  border: 2px solid lightgray;
  width: 130px;
  height: 130px;
  position: absolute;
  background-color: white;
  margin-left: 97.5px;
  text-align: center; }

.sitOnChairThird .price {
  position: relative;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: lightgray; }
  .sitOnChairThird .price > .money {
    font-size: 16px;
    font-weight: bold;
    width: 125px;
    margin-top: 5px;
    color: lightgray; }

.sitOnChairThird .circle1 {
  border-radius: 50%;
  border: 2px solid #25c9b0;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #25c9b0;
  margin-top: -45px;
  margin-left: 135px; }

.sitOnChairThird .smallCircle1 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  margin-top: 13px;
  margin-left: 13px; }

.sitOnChairThird .bigCircle1 {
  border-radius: 50%;
  border: 2px solid white;
  width: 130px;
  height: 130px;
  position: absolute;
  background-color: white;
  margin-left: 97.5px; }

.sitOnChairThird .price1 {
  position: relative;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: #25c9b0; }

.sitOnChairThird .price1 > .money {
  font-size: 16px;
  font-weight: bold;
  width: 125px;
  margin-top: 5px;
  color: #25c9b0; }

sup {
  font-size: 16px; }

.sitOnChairThird h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #25c9b0;
  margin-top: 25px;
  margin-bottom: 20px; }

.sitOnChairThird .standardPlan > h4 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  color: white; }

.sitOnChairThird button {
  width: 120px;
  height: 30px;
  background-color: #25c9b0;
  border-radius: 8px;
  border: none;
  margin-top: 370px;
  margin-left: 105px; }

.sitOnChairThird button > a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal; }

.sitOnChairThird .added {
  width: 120px;
  height: 30px;
  background-color: white;
  border-radius: 8px;
  border: none;
  margin-top: 370px;
  margin-left: 105px; }

.sitOnChairThird .added > a {
  color: #25c9b0;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal; }

.sitOnChairThird .deliverBackground, .sitOnChairThird .servisBackground {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

.sitOnChairThird .deliverBackground1, .sitOnChairThird .servisBackground1 {
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px; }

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  margin: 0 auto;
  padding: 0; }

.container {
  width: 1056px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

/*SIT ON CHAIR THIRD*/
/*SIT ON CHAIR FOURTH*/
.sitOnChairFourth h3 {
  text-transform: uppercase;
  border-bottom: 7px solid #25c9b0;
  width: 320px;
  margin-top: 60px;
  /*margin-bottom: 50px;*/
  color: #575757;
  font-size: 20px; }

.application {
  background-color: #f9f9f9;
  padding: 35px 0; }

.inline {
  display: inline-block;
  width: 300px;
  /*padding:14px;*/
  vertical-align: top; }

.form {
  margin-top: 50px; }

.drop_down_list {
  border: 1px solid #8de0d2;
  /*width: 280px;*/
  /*height:40px;*/
  background-color: white;
  margin-top: 22px;
  padding: 8px 12px;
  position: relative; }

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif; }

.checkbox {
  position: relative;
  padding: 30px 30px 30px 0; }

.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer; }

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer; }

.checkbox label::before, .checkbox label::after {
  border: 1px solid #25c9b0;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0; }

.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none; }

.checkbox input:checked + label::after {
  display: block; }

.active {
  background: url("../images/form_ok.jpg");
  width: 48px;
  height: 40px; }

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae; }

.image_part img {
  margin-top: 110px;
  margin-left: 38px; }

.summary_panel {
  background-color: white;
  height: 195px;
  padding: 10px;
  margin-top: 50px;
  box-sizing: initial; }

section.summary_part.inline {
  box-sizing: border-box;
  width: 322px;
  float: right; }

.application .green_button {
  background-color: #25c9b0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
  box-sizing: initial; }

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px; }

.panel_right {
  display: inline-block;
  width: 100px;
  border-left: 1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
  line-height: 35px; }

.panel_left h4, .panel_right h4 {
  color: #25c9b0;
  font-size: 23px;
  margin: 0;
  width: 100%;
  padding: 0; }

.panel_left span {
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block; }

.panel_right span {
  display: block;
  font-size: 22px;
  color: #25c9b0; }

.sum_label {
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a; }

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #25c9b0; }

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #25c9b0;
  display: block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer; }

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  /*padding-bottom: 10px;*/
  /*list-style: none;*/
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none; }

.showL li {
  margin-top: 10px;
  cursor: pointer;
  color: #585858; }

.showL {
  list-style: none; }

.title1 {
  height: 30px;
  margin: 0;
  padding: 0; }

/*SIT ON CHAIR FIFTH*/
.sitOnChairFifth h3 {
  text-transform: uppercase;
  border-bottom: 7px solid #25c9b0;
  width: 320px;
  margin-top: 60px;
  margin-bottom: 50px;
  color: #575757;
  font-size: 24px; }

div input {
  height: 65px;
  width: 630px;
  margin-bottom: 25px;
  font-size: 30px;
  border: 1px solid #25c9b0;
  padding-left: 10px; }

div textarea {
  width: 630px;
  height: 190px;
  resize: none;
  font-size: 30px;
  border: 1px solid #25c9b0;
  padding-left: 10px; }

::-webkit-input-placeholder {
  color: #c2c2c2;
  font-family: 'Raleway',Arial, sans-serif; }

.form2Left form {
  float: left; }

.form2Left img {
  float: right;
  /*border: 1px solid red;*/
  margin-top: -30px;
  margin-right: 90px;
  position: relative; }

.checkboxContact form {
  width: 356px;
  float: right;
  margin-right: 15px;
  font-size: 20px;
  color: #c2c2c2;
  padding: 5px;
  margin-top: 25px; }

.checkboxContact input {
  position: absolute;
  float: left;
  width: 48px;
  height: 48px;
  cursor: pointer;
  opacity: 0;
  box-sizing: border-box;
  display: block; }

.checkboxContact label {
  position: relative;
  float: right;
  padding-left: 65px;
  display: block;
  cursor: pointer; }

div .contact {
  width: 350px;
  height: 75px;
  background-color: #25c9b0;
  border-radius: 10px;
  float: right;
  margin-right: 17px;
  margin-top: 20px;
  border: none; }

div .contact a {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Raleway',Arial, sans-serif; }

.checkboxContact label::before, .checkboxContact label::after {
  border: 1px solid #25c9b0;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0; }

.checkboxContact label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none; }

.checkboxContact input:checked + label::after {
  display: block; }

/*FOOTER*/
footer {
  width: 100%;
  background-color: white;
  padding: 50px 0 50px 0; }

.container1 {
  display: flex;
  height: 50px; }

.text {
  flex-grow: 1;
  padding-top: 16px; }

.text2 {
  padding-top: 16px; }

.text2 span {
  font-weight: bold;
  color: #a2a2a2; }

.socialMedia {
  cursor: pointer;
  margin-right: 108px;
  padding-top: 6px; }
