//VARIABLES
$main-color:#25c9b0;
$nav-color:black;
$nav-textSize:13px;

%deliverandservis{
  position: absolute;
  width: 326px;
  height: 45px;
  color: gray;
  font-size: 24px;
  text-align: center;
  padding: 9px;
}

%deliverandservis1{
  position:absolute;
  width:326px;
  height: 45px;
  color:gray;
  font-size: 24px;
  text-align: center;
  padding: 9px;
}

%circleAndCircle1{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position:absolute;
  margin-top: -45px;
  margin-left: 135px;
}

%smallCircleAndCircle1{
  border-radius: 50%;
  width: 30px;
  height:30px;
  margin-top: 13px;
  margin-left: 13px;
}

%bigCircleAndCircle1{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position:absolute;
  background-color: white;
  margin-left: 97.5px;
}